:root {
  scrollbar-width: thin;
  scrollbar-color: #dd9529 #0a0d74;
  background-color: #d1d1d1;
  --blue: #0a0d74;
  --orange: #dd9529;
}

.blue-background {
  background-color: var(--blue);
}

.orange-background {
  background-color: var(--orange);
}

.blue-text {
  color: var(--blue) !important;
}

.orange-text {
  color: var(--orange) !important;
}

#logo-name {
  background-color: #d1d1d1;
  border-radius: 50px;
  font-weight: 700;
}

.button-no-border {
  border: none;
}

.level-is-shrinkable {
  flex-shrink: 1 !important;
}

@media only screen and (min-width: 1000px) {
  div#user-infos {
    position: absolute !important;
  }
}
